<form name="contactform" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputFirstname">Firstname</label>
        <div class="controls">
            <input type="text" id="inputFirstname" placeholder="Firstname" data-ng-model="data.firstName" required>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputLastname">Lastname</label>
        <div class="controls">
            <input type="text" id="inputLastname" placeholder="Lastname" data-ng-model="data.lastName" required>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputAge">Age</label>
        <div class="controls">
            <input type="number" id="inputAge" data-ng-model="data.age">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputImage">Image</label>
        <div class="controls">
            <imageupload 
                input-id="inputImage"
                original-image="data.imageBig"        
                resize-image="data.image"
                resize-quality="0.7"
                resize-max-height="320"
                resize-max-width="270" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="add-contact-cancel" type="reset" class="btn" data-ng-click="cancel()">Cancel</button>
            <button id="add-contact-save" type="submit" class="btn btn-primary"
                data-ng-click="ok()"
                data-ng-disabled="contactform.$invalid">Add</button>
        </div>
    </div>
</form>
